.notice-container
	display: none
	background: white
	border : 1px solid #bbb
	padding: 10px
.notice
	cursor: pointer

.clndr-table
	width: 100%

.month>h2
	text-align: center

.header-day
	text-align: center
	background: #eee
	font-weight: bold
.day
	background: #fff
	padding: 2px
	text-align: center

.assign-date
	width: 20%
	text-align: center

.assign-name
	width: 60%

.assign-points
	width: 20%
	text-align: center

// .assign-table
// 	display: none
// 	margin: 0px auto
// 	margin: 0px
// 	width: 100%

.class-code
	width: 20%
	text-align: center

// .course-table
// 	display: none
// 	margin: 0px auto
// 	margin: 0px
// 	width: 100%

.class-link
	width: 60%

.class-grade
	width: 20%
	text-align: center

.calendar-div
	display: none

.assignment>h6
	display: inline-block
	margin-top: 5px
	margin-bottom: 5px

.assignment-contents
	display: none

.course-content
	display: none

.course-sub
	color: #AAA
	font-size: 12px

//.canvas-settings
// padding: 2px
// border: 1px solid #bbb

.gear
	cursor: pointer
	width: 20px
	position: relative
	left: 90%

.arrow
	vertical-align: middle
	margin: 0px 0px 2px 0px
	width: 12px
	-webkit-transform: rotate(90deg)
	cursor: pointer
	display: inline-block

.down-arrow
	display: inline-block
	-webkit-transform: rotate(180deg)

.assignment-arrow
	margin-bottom: 5px

.assignment-desc
	background: gainsboro
	padding: 5px 10px
	word-wrap: normal